#gambar{
    display: flex;
    justify-content: center;
}
body{
    background: silver;
}
header{
    text-align: center;
    background: sienna;
}
p{
    text-align: center;
}
h3{
    text-align: center;
}
input{
    width: 100%;
}
#btn{
    text-align: center;
    border-radius: 50%; 
    border: black;
    justify-content: center;
    display: flex;
}
span{
    color: black;
    font-size: 40px;
}
.card{
    background:salmon;
}
.card2{
    background: salmon;
}